*{
    color: whitesmoke;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    height: 100dvh;
    transition-duration: 3s;
    background-image:url(blueBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.rightPic{
    transition-duration: 3s;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: inset 5px 5px 5px grey, 5px 5px 5px grey;    
}
.navigation{
    transition-duration: 3s;
    text-align: center;
    margin-right: 20rem;
    width: 100%;
    box-shadow: inset -1px -1px 5px grey, 3px 3px 5px grey;
}
a{
    display: block;
    margin-left: 1rem;
    text-decoration: none;
    transition-duration: 2s;
}
a:hover{
    color: aliceblue;
    background-color: rgb(233, 8, 8);
}
div{
    transition-duration: 3s;
    border: 1px solid black;
    text-align: center;
    width: 100%;
}